/*  BANNER*/
.banner-nosotros{
    width:100%;
    min-height:450px;
    background:linear-gradient(rgba(2,26,84,.8), rgba(0, 39, 129, 0.8)),url("../imagenes/img1.jpg");background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.contenido-banner h1{
    font-size:65px;
    color:white;
    margin-bottom:20px;
}

.contenido-banner p{
    color:#F5F5F5;
    font-size:22px;
    max-width:700px;
}
/*  GENERAL */
.titulo{
    text-align:center;
    font-size:42px;
    color:#021A54;
    margin-bottom:50px;
}

/* CREACIÓN*/
.creacion{
        padding: 40px 60px;
}
.contenedor{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.texto-creacion{
    flex:1;
}

.texto-creacion p{
    margin-bottom:20px;
    line-height:1.8;
    color:#444;
    font-size:18px;
}

.imagen-creacion{
    flex:1;
    display:flex;
    justify-content:center;
}

.imagen-creacion img{
    width:100%;
    max-width:450px;
    border-radius:25px;
    box-shadow:
    0 10px 30px rgba(0,0,0,.2);
    transition:.4s;
}

.imagen-creacion img:hover{
    transform:scale(1.03);
}
/* MISIÓN Y VISIÓN */
.mision-vision{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));
    gap:40px;
    padding: 40px 60px;
}

.card{
    background:white;
    padding:50px 35px;
    border-radius:25px;
    text-align:center;
    box-shadow:
    0 10px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    background:#021A54;
}
.card:hover h3,
.card:hover p{

    color:white;
}
.card i{
    font-size:55px;
    color:#FF85BB;
    margin-bottom:20px;
}

.card h3{
    font-size:28px;
    color:#021A54;
    margin-bottom:20px;
}

.card p{
    color:#555;
    line-height:1.7;
}
/*PRESENTACIÓN*/
.presentacion{
    background:#FFCEE3;
    padding: 40px 60px;
}

.contenedor-presentacion{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
    flex-wrap:wrap;
}
/* FOTO */
.foto1 img{
   width:320px;
    height:320px;
    object-fit:cover;
    border-radius:25px;
    border:6px solid white;
    box-shadow:
   0 10px 30px rgba(0,0,0,.2);
    transition:.4s;
}

.foto1 img:hover{
    transform:scale(1.04);
}
/* INFO */
.info{
    max-width:600px;
}

.info h3{
    font-size:40px;
    color:#021A54;
    margin-bottom:20px;
}

.info p{
    margin-bottom:18px;
    color:#333;
    line-height:1.8;
    font-size:18px;
}
/* DATOS */
.datos{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:25px;
}

.datos span{
    background:white;
    padding:14px 20px;
    border-radius:30px;
    font-weight:bold;
    color:#021A54;
    box-shadow:
    0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.datos span:hover{
    transform:translateY(-5px);
    background:#021A54;
    color:white;
}
/*RESPONSIVE*/
@media(max-width:900px){

    .contenido-banner h1{
        font-size:45px;
    }

    .titulo{
        font-size:34px;
    }

    .info h3{
        font-size:32px;
    }

    .contenedor,
    .contenedor-presentacion{

        flex-direction:column;

        text-align:center;
    }

    .datos{
        justify-content:center;
    }
}