
.modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    backdrop-filter: blur(8px);
    background: rgba(238, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-contenido {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    width: 380px;
    max-width: 90%;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    transform: translateY(40px) scale(0.95);
    opacity: 0;
    transition: all 0.35s ease;
}

.modal.show .modal-contenido {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}

.cerrar:hover {
    transform: scale(1.2);
}

.modal-contenido{
    background: linear-gradient(90deg,#B0FFFA,#FF7DB0);

}
h2{
    text-align: center;
    padding: 10px;
}
.modal input {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border-radius: 12px;
    border: 1px solid #000000;
    outline: none;
    transition: 0.2s;
}

.modal input:focus {
    border-color: #00bfff;
    box-shadow: 0 0 6px rgba(0,191,255,.4);
}

.modal button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg,#00bfff,#0040ff);
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 12px;
    margin-top: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.modal button:hover {
    transform: translateY(-2px);
}
.input-password {
    position: relative;
    width: 100%;
}
.select option{
    background: #ff0000;
} 

.input-password input {
    width: 100%;
    padding: 12px;
    padding-right: 45px; /* espacio para el ojo */
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.input-password i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 18px;
    transition: 0.3s;
}

.input-password i:hover {
    color: #007bff;
}
